body {
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 1000px;
  
}

.content {
  width: 80%;
  height: 80%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 230, 4);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  max-width: 1000px;
  min-width: 1000px;
}

h1 {
  text-align: center;
}

.inContent {
  height: 80%;
  width: 80%;
}

p {
color: red;
}