* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
:root {
  --mainGray: #282936;
}

main {
  width: 62rem;
  padding: 1rem;
  margin: auto;
}
h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}
h3 {
  font-weight: 500;
  color: rgb(255, 73, 73);
  font-size: 16px;
}
ul {
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #777;
}
ul li {
  border-top: 0px;
  font-size: 1.3rem;
  overflow: hidden;
  transition: 0.5s;
}
ul li.on {
  overflow: inherit;
}
ul li div {
  border: 1px solid #fff;
  padding: 1rem;
  font-weight: 500;
}

.label {
  background: var(--mainGray);
  color: #fff;
  cursor: pointer;
  z-index: 99;
}
ul li:first-child .label::before {
  content: "";
}
.label::before {
  content: "*";
  color: rgb(255, 73, 73);
}
.content {
}
.content a {
  color: #000;
  text-decoration: none;
}
.content a::after {
  content: "<-보러가기";
  color: rgb(189, 0, 189);
  font-size: 0.8rem;
}

.content.on {
  animation: anis 1s forwards;
}

.skyblue {
  color: #000;
  background: #206eff;
}
.description {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.insert {
  width: 100%;
  height: 100%;
  border: 2px solid var(--mainGray);
  font-weight: 600;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

.myMind {
  font-size: 50px;
  background: var(--mainGray);
  width: 5rem;
  text-align: center;
  line-height: 150%;
  border-radius: 10%;
  position: fixed;
  top: 10%;
  right: 3%;
  transition: 0.5s;
}
.newDiv {
  background: var(--mainGray);
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  bottom: 0;
}
