.header {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav {
  border: 1px solid blue;
  display: flex;
}

.list {
  display: flex;
  gap: 30px;
  font-weight: 600;
  font-size: 16px;
  margin-right: 30px;
}

.lang {
  font-weight: 600;
  font-size: 14px;
  border: none;
}
